/************************************** 
Default page style for 
box-sizing, padding, margin  
**************************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  /************************************** 
  Default body style for
  font-family, margin
  **************************************/
  body {
    font-family: Arial;
    margin: 0;
  }
  
  
  /*---------- header  ----------------*/
  /************************************** 
  Set header style for
  padding, text-align, background-image
  **************************************/ 
  header {
    padding: 5px;
    text-align: left;
    background-image: url("../images/html.png") ;

  }
  header div {
    align-content: end;
    display:grid;
  }

  
  /************************************** 
  Used for name box in heading
  Set header p style for
  height, width, font-size
  padding, color, background-color, border
  **************************************/
  .headingtitle {
    padding:5px;
    color: black;
    background-color:white;
    border:5px solid grey;
    height:100%;
    width:30%;
    font-size: 20px;
  }
  /*---------- header end -------------*/
  
  
  /************************************** 
  flexbox used to divide nav area from main
  set screenbox class style for
  display, height
  **************************************/
  .screenbox {
    display: flex;
    height:100%;
  }
  
  /*-------- navigation ---------------*/
  /************************************** 
  set header nav style for
  flex, background-color, padding, text-align
  **************************************/ 
  nav 
  {
    flex: 1;
    background-color:rgb(92, 159, 92);
    padding-right:20px;
    padding-top:20px;
    text-align: right;
  }
  /************************************** 
  set header nav a style for
  flex, background-color, padding, text-align
  **************************************/ 
  nav a {
    text-decoration: underline 4px;
    font-size:30px;
    color:black;
  }
  /************************************** 
  set nav list items for
  padding-top, padding-bottom, list-style-type
  **************************************/ 
  nav ul {
    padding-top:10px;
  }
  nav ul li {
    list-style-type: none;
    padding-bottom:10px;
  }
  /************************************** 
  define hover for nav list items
  change background color
  **************************************/  
  nav ul li:hover {
    background-color: white;
  }
  /*------ navigation end -------------*/
  .nav-item a {
    background-color: grey;
    color: white;
    text-decoration: none;
  }

  
  /*------ main start     -------------*/
  /************************************** 
  set main style  
  flex, width, line-height, padding
  **************************************/ 
  main {
    flex: 5;
    width:100%;
    line-height:1.5;
    padding:25px;
  }
  main section {
    padding:25px;
  }
  
  /************************************** 
  set main about style  
  background-color, padding
  **************************************/ 
  main #about {
    background-color:white;
    padding:15px;
  }
  /************************************** 
  set class myphoto style  
  float, width
  **************************************/
  #myphoto {
    width:100px;
    border: 6px ridge rgb(92, 159, 92);
  }
  /************************************** 
  flexbox for work images and links
  set main work style for  
  background-color, display, flex-wrap
  **************************************/ 
  #worksection {
    background-color:white;
    padding:15px;
  }
  .work {
    background-color:lightgray;
    display:flex;
    flex-wrap:wrap;
    font-size: 20px;
    font-weight:bold;
    margin:10px;
  }
  .work-header {
    display:flex;
  }
  .work-body {
    display:flex;
  }
  /************************************** 
  work a style for
  padding, position
  **************************************/ 
  .work a  {
    padding:10px;
    position:relative;
  }
  .work a img  {
      flex: 1 1 auto;
      height: 100px;
      border: 6px ridge rgb(92, 159, 92);
    }
  /************************************** 
  used to make first work image larger
  workfirst class style for
  padding, position
  **************************************/
  #workfirst {
    padding:20px;
  }
  #workfirst image {
    padding: 40px;
  }
  
  /************************************** 
  set transparent class for
  opacity, border, z-index
  z-index = 1 to be behind title box
  **************************************/
  .transparent {
    opacity: 1.0;
    border: 6px ridge rgb(92, 159, 92);
    z-index:1;
  }
  /************************************** 
  define hover for transparent class
  make image lighter
  **************************************/
  .transparent:hover {
    opacity: 0.5;
  }
  /************************************** 
  used to place label box over image
  change titlebox class style for
  back-ground-color, color, border
  left, bottom, width, height, text-align
  z-index = 2 to be in front of image
  bosition absolute to place over image
  Do not wrap text
  **************************************/
  .titlebox {
    background-color:white;
    color:black;
    border: 6px ridge rgb(92, 159, 92);
    padding: 4px;
    text-align:center;
    position: absolute;
    left: 10%;
    bottom:10%;
    z-index:2;
  }
  .titlebox h4 {
    white-space:nowrap;
  }
  
  /************************************** 
  set main contact style  
  background-color, padding
  **************************************/ 
  #contact {
    background-color:white;
    padding:15px; 
  }
  /************************************** 
  set main contact list style  
  padding-top, padding-bottom, list-style-type, text-decoration, color
  **************************************/ 
  #contact ul {
    padding-top:10px;
  }
  #contact ul li {
    list-style-type: none;
    padding-bottom:10px;
  }
  #contact ul li a {
    text-decoration: none;
    color:black;
  }
  
  .contactform{
    padding:30px;
    background-color: darkblue;
    color:white
  }
  .contactform div {
    margin:5px;
  }
  /************************************** 
  set main footer style  
  background-color
  **************************************/ 
   footer {
  padding:5px;
  background-image: url("../images/html.png") ;
  width:100%;
  
  
  }
  footer  text{
    padding:10px;
    color: black;
    background-color:white;
    border:1px solid grey;
    height:100%;
    margin-left:10px;
    font-size: 20px;
  }
  #social {
    display:flex;
    justify-content: center;
  }
  #social img{
    margin-left:20px;
    background-color:white;
    padding:5px;
    height:100%;
  }


  
  
  /************************************** 
  set media settings  
  flex-direction
  **************************************/ 
  @media screen and (max-width: 768px) {
    main
   {
      flex-direction: column;
    }
  }
  